<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ck.dao.bookdao">
    <resultMap id="map" type="com.ck.entity.book">
        <result property="id" column="book_id"></result>
        <result property="name" column="book_name"></result>
        <result property="type" column="book_type"></result>
        <result property="publish" column="book_publish"></result>
        <result property="date" column="book_date"></result>
    </resultMap>
</mapper>
